APP_NAME="Mini RAG App"
APP_VERSION="0.1"
OPENAI_API_KEY="sk-12"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE_MB=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 500KB, adjust as needed based on typical file sizes and memory constraints 

MONGODB_URL="mongodb://localhost:27007"
MONGODB_DATABASE="mini_rag_app"

POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="minirag"

# LLM Configurations
GENERATION_BACKEND="OPENAI" # or "azure", "openai", etc.
EMBEDDING_BACKEND="COHERE" # or "azure", "openai", "cohere", etc.

OPENAI_API_KEY=
OPENAI_API_URL=
COHERE_API_KEY=

GENERATION_MODEL_ID="gpt-3.5-turbo"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384 # Cohere's multilingual-22-12 model has a maximum embedding size of 1024 dimensions. Adjust if using a different model.

INPUT_DEFAULTS_MAX_CHARACTERS=1024
OUTPUT_DEFAULTS_MAX_TOKENS=1000
GENERATION_DEFAULTS_TEMPERATURE=0.1

# Vector DB Config
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"
